:root {
    --gradient: linear-gradient(
        90deg,
        #27296D,
        #5E63B6,
        #A393EB,
        #F5C7F7
    )
}

body {
    background-color: #f0f1f2;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

.new-form {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

/* .form-factor {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
} */

.header {
    display: flex;
    gap: 65px;
}

.total-weight {
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 1px;
    flex-direction: column;   
    border: 2px;
    border-radius: 8px;
}

.first-factor {
    padding-left: 5%;
}

.input {
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 1px;
    flex-direction: column;   
    border: 2px;
    border-radius: 8px;
}

.sub-one {
    padding-left: 10%;
    padding-top: 20px;
    display: flex;
    column-gap: 130px;
}

.newFactor {
    color: #F9F5F6;
}

.new-button {
    padding-left: 13.7%;
    padding-bottom: 7px;
    padding-top: 7px;
}

.sub-name {
    font-size: 23px;
    padding-top: 4px;
    padding-bottom: 1px;
    border: 2px;
    border-radius: 8px;
}

.sub-weight {
    font-size: 15px;
    padding-top: 3px;
    padding-bottom: 1px;
    border: 2px;
    border-radius: 8px;
}

.sub-point {
    font-size: 15px;
    padding-top: 3px;
    padding-bottom: 1px;
    border: 2px;
    border-radius: 8px;
}

.test-one {
    padding-left: 10%;
    padding-top: 20px;
    display: flex;
    column-gap: 130px;

}